/* =Font
****************************************************************************************/
/*@font-face {
    font-family: 'Font Name';
    font-style: normal;
    font-weight: normal;
    src: local('Calibre Regular'), url('../fonts/font-name.woff') format('woff');
}*/

$font-primary: "Times New Roman";
$font-secondary: Arial;
$font-weight: 400;