/* =Minimal base appearance
*******************************************************************************/
html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

a {
    @include basic-transition;
}

img {
    max-width: 100%;
    height: auto;
}
